@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: local("Open Sans"),
    local("Open Sans Regular"),
    url("../fonts/opensans-regular-webfont.woff2") format("woff2"),
    url("../fonts/opensans-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: bold;
  font-style: normal;
  src: local("Open Sans"),
    local("Open Sans Bold"),
    url("../fonts/opensans-bold-webfont.woff2") format("woff2"),
    url("../fonts/opensans-bold-webfont.woff") format("woff");
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html { 
  box-sizing: border-box;
}

body {
  font-family: 'Lato', 'Arial', sans-serif;
  font-size: 16px;
  color: #000;
  background-color: #4b433c;
}

a {
  text-decoration: none;
  color: #FFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.logo {
  padding: 4px 0 0 2px;
}

.title,
.logo,
.menu-dish-name,
.review-text {
  font-family: 'Yeseva One', 'Courier New', sans-serif;
}

.page-header {
  color: #FFF;
  background-color: #000;
  background-image: url('../img/Bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  position: relative;
  margin: 0;
  font-size: 36px;
  line-height: 1.5;
  text-align: center;
}

.header-menu,
.header-socials,
.list-menu,
.footer-columns,
.footer-payments,
.footer-socials,
.ingredients-list,
.submenu,
.footer-description {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header-top {
  display: flex;
  justify-content: space-between;
  padding: 0 175px;
  font-family: 'Yeseva One', 'Courier New', sans-serif;
}

.header-link {
 padding: 0 30px 0 0;
}

.last-link {
  padding: 0;
}

.header-link,
.header-socials {
  font-size: 21px;
  line-height: 1.5;
}

.header-link:hover,
.header-link:focus {
  color: #422e18;
}

.header-link:active {
  color: #2c373d;
}

.header-socials {
  display: flex;
  padding: 45px 27px 43px 0;
}

.header-icons {
  padding: 0 9px;
  text-decoration: none;
  color: #dab33e;  
}

.header-icons:hover,
.header-icons:focus {
  color: #fde6a1;
}

.header-icons:active {
  color: #FFF;
}

.header-menu {
  display: flex;
  padding: 43px 0 42px 200px;
}

.header-promo {
  padding: 90px 0 140px;
}

.header-page-title {
  position: relative; 
  padding: 0 20% 105px; 
  font-size: 85px;
  line-height: 1.4;
}

/*Когда я спускаю дивайдер на место, перестают работать кнопки. Почему? Поэтому я остаила его валяться в стороне*/

.header-page-title::after {
  content: '';
  position: absolute;
  top: 250px;
  width: 100%;
  height: 100%;
  background-image: url("../img/Header-decoration.png");
  background-repeat: no-repeat;
}

.header-btn {
  display: inline-block;
  padding: 0 50px;
  font-size: 18px;
  line-height: 3.16;
  text-align: center;
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.6);
}

.header-btn:hover,
.header-btn:focus {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.9);  
}

.header-btn:active {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.9);
}

.btn-book-table {
  margin: 0 27px 0 35%;
}

.about {
  display: flex;
  justify-content: space-around;
  padding: 0 18%; 
  color: #4c4c4c;
  font-size: 16px;
  line-height: 1.5;
  background-color: #FFF;
  background-image: url('../img/pattern-piece.jpg');
  background-repeat: repeat;
}

.about-title {
  padding: 90px 0px 40px 0;
  color: #cc9900;
}

.about-title::after {
  content: '';
  position: absolute;
  top: 150px;
  left: 70px;
  width: 65%;
  height: 65%;
  background-image: url("../img/divider-gold.svg");
  background-repeat: no-repeat;
}

.about-food-pic {
  margin: 76px 0 80px 30px;
  border-radius: 50%;
  box-shadow: 0 20px 20px rgba( 0, 0, 0, 0.3);
}

.about-container {
  flex-basis: 435px; 
  padding: 0 10px;
  text-align: center; 
}

.about-cook-photo {
  margin: 35px 0 0 19%;
}

.ingredients { 
  padding: 100px 13% 100px 51%;
  color: #FFF;
  background-color: #000;
  background-image: url('../img/ingredients_bg.jpg');
  background-size: cover;
}

.ingredients-container {
  width: 570px;
  padding: 70px 82px 78px;
  background-color: rgba(0, 0, 0, 0.6);
}

.ingredients-title {
  padding: 0 0 40px;
}

.ingredients-title::after {
  content: '';
  position: absolute;
  top: 60px;
  left: 70px;
  width: 65%;
  height: 65%;
  background-image: url("../img/divider-white.svg");
  background-repeat: no-repeat;
}

.ingredients-description {
  padding: 0 0 50px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.ingredients-list {
  display: flex;
  justify-content: space-around; 
  padding: 0 0 0 10px;
}

.ingredient-pic {
  margin: 0 20px 0 0;  
}

.menu {
  color: #4c4c4c;
  background-color: #FFF;
  background-image: url('../img/pattern2-piece.jpg');
  background-repeat: repeat;
}

.menu-title {
  padding: 80px 0 40px;
  color: #cc9900; 
}

.menu-title:after {
  content: '';
  position: absolute;
  top: 145px;
  left: 70px;
  width: 65%;
  height: 65%;
  background-image: url("../img/divider-gold.svg");
  background-repeat: no-repeat;
}

.menu-price {
  font-family: 'Yeseva One', 'Courier New', sans-serif;
}

.list-menu {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap; 
  padding: 0 17% 80px; 
  margin: 0 0;
}


.list-menu > li {
  flex-basis: 500px;
}

/*Я изменила разметку и сделала название блюда не как заголовок, иначе не могла поднять цену без использования кординат, которые ты сказала не использовать*/
.menu-dish-name {
  padding: 0 0 5px;
  color: #cdab56;
  font-size: 21px; 
  line-height: 1.5;
  border-bottom: 1px solid rgba(204, 153, 0, 0.3);
}

.menu-dish-description {
  font-size: 16px;
  margin: 0 0 30px;
}

.menu-price {
  float: right;
  margin: 0 0 0 250px;
  color: #cdab56;
  font-size: 21px;
}

.menu-special {
  position: relative;
}

.menu-special::before {
  content: '';
  position: absolute;
  left: -10px;
  top: -10px;
  width: 520px;
  height: 100px;
  border: 1px solid rgba(204, 153, 0, 0.3);
}

.menu-special::after {
  content: 'Special';
  position: absolute;
  top: -32px;
  right: -10px;
  width: 68px;
  height: 23px;
  padding: 1px 0;
  text-align: center;
  font-family: 'Lato', 'Arial', sans-serif;
  color: #fff;
  background-color: #cc9900;
  background-image: url("../img/Special.jpg");  
}


.reviews { 
  padding: 100px 26%;
  color: #FFF;
  background-color: #000000;
  text-align: center;
  background-image: url('../img/reviews_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.reviews-title {
  padding: 0 0 30px;
}

.reviews-title::after {
  content: '';
  position: absolute;
  top: 60px;
  left: 200px;
  width: 40%;
  height: 40%;
  background-image: url("../img/divider-white.svg");
  background-repeat: no-repeat;  
}

.reviews-container {
  padding: 73px 40px 83px;
  width: 774px;
  background-color: rgba(0,0,0,0.6);  
}

.review-text {
  position: relative;
  font-size: 22px;
  line-height: 2;
}

.review-text::before {
  content: '';
  position: absolute;
  right: 45px;
  bottom: 5px;
  width: 100%;
  height: 100%;  
  background-image: url("../img/quotes.png");
  background-repeat: no-repeat;  
}

.review-source {
  font-size: 18px;
  font-style: normal;
  line-height: 2.5;
 }

.reservation {
  display: flex;
  justify-content: space-evenly;
  padding: 100px;
  color: #4c4c4c;
  background-color: #FFF;
  background-image: url('../img/pattern-piece.jpg');
  background-repeat: repeat;
}

.reservation-pic {
  display: inline-block;
  margin: 0 20px 0 15px;
}

.reservation-container {
  width: 35%; 
  padding: 0 100px 0 0;
}

.reservation-title {
  position: relative;
  padding: 0 0 47px 0;
  color: #cc9900;
}

.reservation-title::after {
  content: '';
  position: absolute;
  top: 60px;
  left: 70px;
  width: 65%;
  height: 65%;
  background-image: url("../img/divider-gold.svg");
  background-repeat: no-repeat;
}

.reservation-text {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.reservation-form {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
}

.form-label {
  margin: 20px 0 0 0;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: bold;
  color: #cc9900;
}

.reservation-input {
  display: block;
  width: 200px;
  height: 34px;
  margin: 5px 30px 0 0;
  padding: 5px 10px; 
  font-size: 14px;
  font-family: 'Open Sans', 'Arial', sans-serif;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid #c8c6c6 ;  
}

.reservation-input:hover,
.reservation-input:focus {
  border: 1px solid #c89f2d ;
}

.label-date {
  position: relative;
}

.label-date::before {
  content: '';
  position: absolute;
  top: 32px;
  left: 175px;
  width: 13px;
  height: 14px;
  background-image: url("../img/icon_calendar.png");
}

.input-date {
  padding: 5px 30px 5px 10px ;
}

.party-label {
  position: relative;
}

.party-label::before {
  content: '';
  position: absolute;
  top: 38px;
  left: 178px;
  width: 8px;
  height: 5px;
  background-image: url("../img/icon_arrow.png");
}

.party-input {
  padding: 5px 30px 5px 10px ;
}
/*Нашла статью, как стилизовать плейсхолдеры, не знаю, что такое webkit и moz и взяла код оттуда*/

::-webkit-input-placeholder { font-style: italic; }
::-moz-placeholder          { font-style: italic; } /* Firefox 19+ */
:-moz-placeholder           { font-style: italic; } /* Firefox 18- */
:-ms-input-placeholder      { font-style: italic;}

/*Прячет стрелки в Chrome*/

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*Прячет стрелки в Firefox*/

input[type="number"] {
  -moz-appearance: textfield;
}

/*Прячет стрелки в остальных браузерах*/

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.reservation-btn {
  margin: 39px 102px 0;  
  padding: 10px 60px;
  width: 200px;
  font-size: 16px; /* высота строки */
  color: #FFF;
  border: none;
  background-color: #c9a131;
}

.reservation-btn:hover,
.reservation-btn:focus {
  background-color: #ab8b33;
}

.reservation-btn:active {
  background-color: #9d8133;
}

.page-footer {
  padding: 55px 11% 50px;
  color: #FFF;
  font-size: 16px;
  line-height: 1.5;
  background-color: #000000;
}

.footer-columns {
  display: flex;
  justify-content: space-around;
  margin: 0;
}

.footer-title {
  padding: 0 0 50px;
  text-align: center;
  font-size: 21px;
}

.footer-about {
  position: relative;
}

.footer-about::after {
  content: '';
  position: absolute;
  top: 40px;
  left: 75px;
  width: 200px;
  height: 200px;
  background-image: url("../img/divider-white.svg");
  background-repeat: no-repeat;  
}

.footer-description {
  margin: 0;
}

.footer-about-us {
  width: 370px; 
  text-align: center; 
}

.footer-opening {
  position: relative;
}

.footer-opening::after {
  content: '';
  position: absolute;
  top: 40px;
  left: 5px;
  width: 200px;
  height: 200px;
  background-image: url("../img/divider-white.svg");
  background-repeat: no-repeat;  
}

.footer-payments {
  display: flex;  
  padding: 49px 0 0 40px;
}

.footer-card-pic {
  padding: 0 15px 0 0;
}

.footer-description,
.footer-payments {
  font-family: 'Open Sans', 'Arial', sans-serif;
}

.footer-location-title {
  position: relative;
}

.footer-location-title::after {
  content: '';
  position: absolute;
  top: 40px;
  left: 10px;
  width: 200px;
  height: 200px;
  background-image: url("../img/divider-white.svg");
  background-repeat: no-repeat;  
}

.footer-location {
  width: 230px;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: bold;
  text-align: center;
}

.footer-link {
  text-decoration: none;
  color: #FFF;
}

.footer-socials {
  display: flex;
  margin: 45px 0 0 70px;
}

.footer-social-pic {
  padding: 0 10px 0 0;
}

.footer-link:hover,
.footer-link:focus {
  color: #dab33e;
}

.footer-link:active {
  color: #cc9900;
}
